<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="icon" th:href="@{/logos/logotec144x144.png}">
        <meta charset="UTF-8">
        <title>SpringTEC</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/alumnos">Alumnos</a></li>
                    <li><a href="/maestros">Maestros</a></li>
                    <li><a href="/grupos">Grupos</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <p th:text="${mensaje}">Mensaje</p>
            <!--el atributo th:text="${mensaje}"
            es el que nos permite mostrar el mensaje que se encuentra en el controlador que declaramos en el controlador Rest-->
           <p th:text="${mensaje2}">Mensaje</p>
            <br/>
            Nombre: <span th:text="${individuo.nombre}">Nombre</span>
            <br/>
            idAlumno: <span th:text="${individuo.idAlumno}">idAlumno</span>
            <br/>
            Apellido: <span th:text="${individuo.apellido}">Apellido</span>
            <br/>
            Edad: <span th:text="${individuo.edad}">Edad</span>
            <br/>
            Correo: <span th:text="${individuo.email}">Correo</span>
            <br/>
            Telefono: <span th:text="${individuo.telefono}">Telefono</span>
            <!--
                Zona del Formulario
            -->

           <form>
               <div id="barraScroll">
                   <t>
                       <label for="idAlumno" class="texto">idAlumno:</label>
                       <label id="idAlumno" th:text= "${individuo.idAlumno}"/>
                       <br/>
                       <label for="nombre" class="texto">Alumno:</label>
                       <label id="nombre" name="nombre" th:text="${individuo.nombre}"/>
                       <br/>
                       <label for="apellido" class="texto">Apellido:</label>
                       <label id="apellido" name="apellido" th:text="${individuo.apellido}"/>
                       <br/>
                       <label for="edad" class="texto">Edad:</label>
                       <label id="edad" name="edad" th:text="${individuo.edad}"/>
                       <br/>
                       <label for="email" class="texto">Correo:</label>
                       <label id="email" name="email" th:text="${individuo.email}"/>
                       <br/>
                       <label for="telefono" class="texto">Telefono:</label>
                       <label id="telefono" name="telefono" th:text="${individuo.telefono}"/>
                       <br/>
                       <input type="submit" class="boton" value="Enviar">
                   </t>
               </div>

            </form>

        </main>
    </body>
</html>